//General
$margin: 1rem;
$internal-margin: 0.3rem;
$border-radius: 0.25rem;

$header-font-size: 1.5rem;
$description-font-size: 0.75rem;

//Wallpapers
$wallpapers-image-width: 18rem;
$wallpapers-button-size: 3.5rem;
